.app-containrer2 {
    background-color: rgb(246, 239, 239);
}

h1{
    font-size: 16px;
    color: rgb(126, 16, 8);
}

h2{
    font-size: 14px;
    color: blue;
}

p{
    font-size: 12px;
    color: brown;
}